
<%= form_for [post, comment], remote: true,
  html: {
    class: "new_blog_comment form-horizontal", id: "new_blog_comment" } do |f| -%>

  <fieldset>
    <legend><%=t :leave_a_comment, scope: 'blogit.comments'%></legend>

    <%= field class: "hidden" do %>
      <%= f.label :nickname %>
      <%= f.text_field :nickname %>
      Hide me using CSS
    <% end %>

    <%= field do %>
      <div class="control-group">
        <%= f.label :name, t(:name, scope: 'blogit.comments'), :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name, :class => 'span5' %>
          <%= errors_on(comment, :name) %>
        </div>
      </div>
    <% end %>

    <%= field do %>
      <div class="control-group">
        <%= f.label :email, t(:email_never_displayed, scope: 'blogit.comments'), :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :class => 'span5' %>
          <%= errors_on(comment, :email) %>
        </div>
      </div>
    <% end %>

    <%= field do %>
      <div class="control-group">
        <%= f.label :website, t(:your_website, scope: 'blogit.comments'), :class => "control-label" %>
        <div class="controls">
          <%= f.url_field :website, :class => 'span5' %>
          <%= errors_on(comment, :website) %>
        </div>
      </div>
    <% end %>

    <%= field do %>
      <div class="control-group">
        <%= f.label :body, t(:your_comment, scope: 'blogit.comments'), :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :body, :rows => 5, :class => "span5" %>
          <%= errors_on(comment, :body) %>
        </div>
      </div>
    <% end %>

    <%= actions do %>
      <div class="control-group">
        <div class="controls">
          <%= f.submit t(:add_comment, scope: 'blogit.comments'), :disable_with => t(:adding_comment, scope: 'blogit.comments'), :class => "btn btn-primary"  %>
        </div>
      </div>
    <% end %>

  </fieldset>

<% end -%>
